body {
  margin: 0;
  font-family: "Roboto", Regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #222222;

  @font-face {
    font-family: "Roboto";
    src: "./assets/typo/Roboto" format("truetype");
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
